/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

// BASE
body {
  margin: 0;
}

// TYPOGRAPHY
h1,
p {
  margin: 0;
}

::selection {
  background: yellow;
}
button {
  user-select: none;
}
